.profileFeedScreenDiv {
  width: 75%;
  margin: auto;
}

.profileFeedScreenDiv .profileFeedScreenHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profileFeedScreenDiv .followUser .followDiv {
  width: 100%;
  margin: 0;
}