.headerUserSectionDiv {
  display: flex;
}

.headerUserSectionDiv a {
  text-decoration: none;
  color: white;
}

.headerUserSectionDiv a p {
  margin: 10px;
}

#navbar-user-menu a {
  text-decoration: none;
  color: black;
}

#navbar-user-menu a p {
  text-align: center;
}

.headerUserSectionDiv .appUserImg {
  height: 46px;
  width: auto;
  max-width: 56px;
  vertical-align: bottom;
  margin-right: 2px;
}